/* Stylesheet */
h1 {
    text-align: center;
}

#container {
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: auto;
}

#container div {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    float: left;
}

#dice{
    float: right;
    padding: 0px 100px;
}


