/* Stylesheet */
body{
    width: 1000px;
    margin: auto;
}

h1, .instructions {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    width: 700px;
    padding: 15px 0;
    margin: auto;
    color: darkslateblue;
}

#player-description {
    float: right;
    font-family: 'Nanum Myeongjo', serif;
    color: cornflowerblue;
}

#player-movements{
    color: black;
    font-size: 15px;
}

#container {
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: auto;
}

#container div {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    float: left;
}

#dice {
    float: left;
    padding: 0px 20px;
}

.player {
    background-color: red;
}

.indicator {
    background-color: rgba(0, 0, 0, 0.493);
}

button{
    width: 150px;
    padding: 15px;
    background-color: rgb(208, 208, 233) ;
    border-radius: 8px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
}